* {box-sizing: border-box;}
body {
	font-family:'Varela Round', sans-serif;
	line-height:1.6;
	color:#3a3a3a;
	

	}
p {
	font-size: .95em;
	margin-bottom: 1.8em;
	text-align:justify;

}
h2,h3,a {
	color: #093a58;
}
h2,h3,h4 {
	margin-top:0;
}
h4 {
	margin-bottom: .4em;
}
a {
	text-decoration:none;
}
img {
	max-width:100%;
}
#Gallery {
	font-size:3em;
	text-align:center;
	
}
#logo {
	width:35px;
	height:35px;
	margin-top:13px;
	
}
.title-ready {
	font-style: italic;
    font-weight: 400;
    font-variant: normal;
    line-height: normal;
    letter-spacing: .5px;
	font-family: Big Noodle Too,impact,sans-serif;
	font-size: 4.5rem;
	text-align:center;
	color:#35c6bb;
}
.title-text {
	margin-top:-20px;
	text-align:center;
	font-size:1.25rem;
	color:#202020;
	
}
.snowy {
	font-weight: 400;
    font-variant: normal;
    line-height: normal;
    letter-spacing: .5px;
	font-family: Big Noodle Too,impact,sans-serif;
	font-size: 2.5rem;
	color:#3acec2;
}

/* Navigation */
.name {
	font-size: 1.40em;
	margin:0;
	padding-top:4px;
}
.main-nav {
	margin-top: 5px;
}
.name a, .main-nav a {
	display:block;
	text-align:center;
	padding: 10px 15px;
}
.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}
.main-nav a:hover {
	color:#093a58;
}
.second-nav {
	margin-top: 5px;
}
 .second-nav a {
	display:block;
	text-align:center;
}
.second-nav a {
	font-size: 1.15em;
	color: #3acec2;
	text-transform: uppercase;
}
.second-nav a:hover {
	color:#093a58;
}
li.dropdown {
	display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
}
.dropdown-content a {
	font-size: .95em;
	color: #093a58;
	text-transform: uppercase;
    text-decoration: none;
    display: block;
    text-align: left;
	background-color: #3ffff2;
}
.dropdown-content a:hover {
	color:#099a58;
	
	}
.dropdown:hover .dropdown-content {
    display: block;
}
/*Layout Containers*/
.main {
	background-image: url("snow.jpg");
	background-size:cover;
	margin-bottom:-70px;
}
.main-header {
	padding-top:20px;
	padding-bottom:20px;
}
.banner, .main-footer {
	text-align:center;
}
.banner {
	color:#fff;
	background-image:url("lucio.jpg");
	background-size:cover;
	padding: 3.2em 0em;
	margin-bottom:-70px;
	
}
.col {
	padding-right:1em;
	padding-left: 1em;
}
.main-footer {
	background:#d9e4ea;
	padding:32px 0;
	margin-top:70px;
}
.img-container {
	margin-bottom:-61px;
}
.img-container img{
	width:100%;
	
}
.ready {
	padding-left:5%;
	padding-right:5%;
}
.snow-img {
	display:block;
	margin: auto;
}
.ready img {
	height:500px;
	width:500px;
}

/* Page Ele */
.logo {
	width:420px;
	height:290px;
}
.headline {
	margin-bottom:0;
}
/* Media Queries */
@media (min-width:769px) {
	.main-header{
		background:#fff;
		width:100%;
		/*top:0;*/ 
	}
	.container {
		width:80%;
		margin:0 auto;
	}
	.name, .col , #logo {
		float:left;
	}
	.primary, .secondary {
		width:50%;
	}
	.main-nav {
		float:right;

	}
	
	.main-nav li {
		display:inline-block;
		margin-left:5px;	}
	.second-nav {
		float:bottom;
	}
	.second-nav li{
		display:inline-block;
		margin-left:5px;
	}
	.tagline {
		font-size:1.4em;
	}
	.clearfix::after {
		content:" ";
		display:table;
		clear:both;
	}
}
@media (min-width:1025px) {
	.container {
		width:80%;
		max-width: 1125px;
	}
	.primary {
		width:40%;
	}
	.secondary, .tertiary{width:30%;}
}