.content-destinations{
min-height:600px;
}

.Nessebar , .Sunny-Beach , .title-destinations1 , .title-destinations2 , .destinations-p1 , .destinations-p2 {
color:#13054c;
position:relative;
font-style:italic;
}

.destinations-p1{
top:100px;
}

.title-destinations1{
top:20px;
left:85px;
}

.Nessebar{
left:20px;
top:30px;
width:250px;
height:200px;
}

.Sunny-Beach{
width:250px;
height:200px;
top:30px;
left:20px;
}

.title-destinations2{
top:20px;
left:55px;
}

.destinations-p2{
top:100px;
}