.familylife-col{
min-height:1650px;
}

.FamilyLife1 , .FamilyLife2 , .FamilyLife3 , .familylife-p1 ,
 .familylife-p2 , .familylife-p3 , .header1 , .header2 , .check , .span-1 , .check-p
, .baby , .kids , .restaurant , .facility-p , .facility-p2 , .facility-p3 , .facility-title1 , .facility-title2 , .facility-title3 {
position:relative;
font-style:italic;
color:#13054c;
}

.FamilyLife1 , .FamilyLife3 {
top:30px;
left:20px;
height:200px;
width:300px;
}

.FamilyLife2{
right:20px;
top:30px;
height:200px;
width:300px;
}

.familylife-p1{
top:100px;
}

.familylife-p2{
top:120px;
left:160px;
}

.familylife-p3{
top:120px;
}

.header1{
top:90px;
left:40px;
}

.header2{
top:100px;
left:40px;
}

.check{
top:90px;
left:33px;
height:20px;
width:20px;
}

.span-1{
top:90px;
left:35px;
}

.check-p{
top:90px;
left:35px;
}

.baby{
top:120px;
left:20px;
}

.restaurant{
top:140px;
left:20px;
}

.facility-p {
top:160px;
}

.facility-p2{
top:130px;	
}

.facility-p3{
top:130px;
}

.facility-title1 {
top:140px;
}

.facility-title2{
top:120px;
}

.facility-title3{
top:125px;
}

.kids{
top:140px;
left:20px;
}