.footer-col{
min-height:100px;
}

.logos{
margin:10px;
width:50px;
height:50px;
}

.trademark-text1{
position:relative;
left:80px;
}

.trademark-text2{
position:relative;
left:20px;
}